.App {
  text-align: center;
  margin-bottom: auto;

}

.collection{
  overflow-y: scroll;
}

.collectionItem{
  color: white;
  background-image: url(images/random.jpg);
}

input[type=text] {
  color: red;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

::placeholder {
    color: red;
}
