@import url('https://fonts.googleapis.com/css?family=Bitter');

.App {
  text-align: center;
  margin-bottom: auto;
  font-family: "Bitter", serif;

}

.collection{
  overflow-y: scroll;
}

.collectionItem{
  color: white;
  background-image: url(images/random.jpg);
  background-position: center;
}

input[type=text] {
  color: black;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

::placeholder {
    color: black;
}

.intro{
  font-size: 140%;
}

.invisible {
    display: none;
    visibility: hidden; 
}
