* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 position: relative;
 background-image: url(images/capitol.png);
}


footer {
 position: fixed;
 bottom: 0;
 width: 100%;
}
