@import url('https://fonts.googleapis.com/css?family=Bitter');

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.App {
  text-align: center;
  margin-bottom: auto;
  font-family: "Bitter", serif;
  height: 100%;
  
}

.collection{
  overflow-y: scroll;
}

.collectionItem{
  color: white;
  background-image: url(images/random.jpg);
  background-position: center;
}

input[type=text] {
  color: black;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.buttonPadding{
  padding-bottom: 50%;
}

::placeholder {
    color: black;
}

.intro{
  font-size: 140%;
  padding-bottom: 50%;
}

.invisible {
    display: none;
    visibility: hidden;
}
